@import "tailwindcss";
body {
  background-image: linear-gradient(
    to top right,
    hsla(0, 0%, 0%, 0.88),
    #300015,
    #000000
  );
  position: relative;
}

#root {
  position: relative;
  z-index: 1;
}
